!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    %title= "Kayla Fitzgerald"
    %link(rel="stylesheet" href="stylesheets/foundation.min.css")
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/application.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/about.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/resume.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/contact.css'}

  %body
    .wrapper
      = yield

  %div.navigation
    %ul#page-navigation
      %li
        %a{ :href => "/about"}= "About"
      %li
        %a{ :href => "https://www.behance.net/KaylaFitzgerald"}= "Portfolio"
      %li
        %a{ :href => "/resume"}= "Resume"
      %li
        %a{ :href => "/contact"}= "Contact"
